body {
  background: #fff;
  background-image: url(../imgs/dot-grid.png);
  background-repeat: repeat;
  margin: auto;
}

.header {
  text-align: center;
  color: #8470ff;
}

.title {
  color: #8470ff;
  font-family: menlo;
  font-size: 60px;
  letter-spacing: -3px;
  font-weight: 600;
}

img {
  border-radius: 50px;
}

p,
td {
  font-family: menlo;
  color: #8470ff;
  font-weight: 400;
}

th {
  background: #8470ff;
  color: #fff;
  letter-spacing: 2px;
  font-family: menlo;
  font-weight: 300;
  cursor: pointer;
}

th:hover {
  text-decoration: underline;
}

a:link,
a:visited,
a:active {
  color: #8470ff;
  text-decoration: underline;
  text-decoration-color: #8470ff;
  text-decoration-thickness: 1px;
}

a:hover {
  color: white !important;
  text-decoration: underline !important;
  text-decoration-color: #8470ff !important;
  text-decoration-thickness: 1px !important;
  background: #8470ff !important;
  display: inline-block !important;
}

table {
  border: solid 1px #8470ff;
  background: white;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background: #f6f4ff;
}

::placeholder,
.form-control,
.input-group,
input,
.form-group {
  color: #8470ff !important;
  font-family: menlo;
  border-radius: 5px !important;
}

.form-control {
  border: solid 1px #8470ff !important;
}

.table th,
.table td {
  border-top: 1px solid #8470ff !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #8470ff !important;
}
